<h1> <%= link_to @league.name, @league %></h1>

<h1>Members</h1>
<%= will_paginate @leagueusers %>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Member</th>
    <th>Status</th>
    <th>Active</th>
    <% if is_league_manager?(@league)%>
    <th></th>
    <th></th>
    <%end%>
  </tr>

<% @leagueusers.each do |leagueuser| %>
  <tr>
    <td><%= image_tag avatar_url(leagueuser.user) %><%= raw "<br >#{leagueuser.nickname}" %></td>
    <td><%= leagueuser.status %></td>
    <td><%= leagueuser.active %></td>
    <% if is_league_manager?(@league)%>
      <td><%= link_to 'Edit', edit_leagueuser_path(leagueuser), :class => 'btn btn-warning' %>
    <%= link_to 'Remove', leagueuser, method: :delete, data: { confirm: "Are you sure? This will remove #{leagueuser.nickname} from this League" } , :class => 'btn btn-warning'%></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />


