

<p>
<%if @card || @meet %>
<h1><%= link_to @track.name, track_path(@track.id)%></h1>

  <h2>Leaderboard for <%= link_to @meet.name, meet_path(:id => @meet.id) %></h2>
<% if user_signed_in? %>
Your Rank: <%=@rank%>
<%end%>

<%if @league %>
<h3> <%= link_to @league.name, @league %></h3>
<%end%>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Member</th>
    <th>Amount</th>
    <th>Rank</th>

  </tr>
<%rank = 0 %>
<% @rankings.each do |ranking| %>
<% rank = rank + 1 %>
  <tr>
       <td><%= image_tag avatar_url(ranking.user) %><br />
    <small><%= ranking.user.name %></small></td>

    <td><%= ranking.amount %></td>
   <td><%= rank %></td>
     <% if current_user.has_role? :admin %>

       <td><%= link_to 'Edit', edit_ranking_path(ranking) , :class => 'btn btn-mini'%><td>
     <%end%>
  </tr>
<% end %>
</table>
<%else%>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>User</th>
    <th>Amount</th>
    <th>Rank</th>
    <th>card_id</th>
    <th>meet__id</th>
    <th>user_id</th>
  </tr>
<%rank = 0 %>
<% @rankings.each do |ranking| %>
<% rank = rank + 1 %>
  <tr>
    <td><%= ranking.user.name %></td>
    <td><%= ranking.amount %></td>
   <td><%= rank %></td>
    <td><%= ranking.card.name unless ranking.card.blank? %></td>
    <td><%= ranking.meet.name unless ranking.meet.blank?%></td>
    <td><%= ranking.user.name %></td>
     <% if current_user.has_role? :admin %>

       <td><%= link_to 'Edit', edit_ranking_path(ranking) , :class => 'btn btn-mini'%><td>
     <%end%>

  </tr>
<%end%>

<%end%>



