
  <%if params[:league_id] %>
    <h3> <%= link_to @league.name, @league %></h3>

  <%elsif params[:meet_id]  %>
    <h1><%= link_to @track.name, track_path(@track.id)%></h1>

    <h2>Leaderboard for <%= link_to @meet.name, meet_path(:id => @meet.id) %></h2>

  <%elsif params[:track_id]  %>

    <h1>Leaderboard for <%= link_to @track.name, track_path(:id => @track.id) %></h2>

  <%elsif params[:card_id]  %>
    <h1><%= link_to @track.name, track_path(@track.id)%></h1>

    <h2>Leaderboard for <%= link_to "#{@meet.name}-#{@card.name}", card_path(:id => @card.id) %></h2>
  <%elsif params[:race_id]  %>
    <h1><%= link_to @track.name, track_path(@track.id)%></h1>

    <h2>Leaderboard for <%= link_to @race.name, race_path(:id => @race.id) %></h2>


<%else%>
  <h2>Leaderboard for <%=@site.name%></h2>
<%end%>

   <% if user_signed_in? %>
     Your Rank: <%=@rank%>
   <%end%>


<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Member</th>
    <th>Amount</th>
    <th>Track</th>
    <th>Meet</th>
    <th>Card</th>
    <th>Race</th>
    <th>Rank</th>

  </tr>

<% @rankings.each_with_index do |ranking, index| %>

  <tr>
       <td><%= image_tag avatar_url(ranking.user) %><br />
    <small><%= ranking.user.name %></small></td>
    <td><%= ranking.track.name %></td>
    <td><%= ranking.meet.name %></td>
    <td><%= ranking.card.name %></td>
    <td><%= ranking.race.name %></td>
    <td><%= ranking.amount %></td>
        <td><%=  "#{index + 1}" %></td>
     <% if user_is_site_manager? %>

       <td><%= link_to 'Edit', edit_ranking_path(ranking) , :class => 'btn btn-mini'%><td>
     <%end%>
  </tr>
<% end %>
</table>







