


<%if @card || @meet %>
  <h1><%= link_to @track.name, track_path(@track.id)%></h1>

  <h2>Leaderboard for <%= link_to @meet.name, meet_path(:id => @meet.id) %></h2>


  <%if @league %>
    <h3> <%= link_to @league.name, @league %></h3>
  <%end%>
<%else%>
  <h2>Leaderboard for <%=@site.name%></h2>
<%end%>

   <% if user_signed_in? %>
     Your Rank: <%=@rank%>
   <%end%>


<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Member</th>
    <th>Amount</th>
    <th>Rank</th>

  </tr>
<%rank = 0 %>
<% @rankings.each do |ranking| %>
<% rank = rank + 1 %>
  <tr>
       <td><%= image_tag avatar_url(ranking.user) %><br />
    <small><%= ranking.user.name %></small></td>

    <td><%= ranking.amount %></td>
   <td><%= rank %></td>
     <% if user_is_site_manager? %>

       <td><%= link_to 'Edit', edit_ranking_path(ranking) , :class => 'btn btn-mini'%><td>
     <%end%>
  </tr>
<% end %>
</table>







