<%= simple_form_for(@league) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
      <%= f.select :status, ['Public','Private','Closed'] %>
  <%= f.input :tag_list, :label => "Tags (separated by commas)" %>
    <% if user_is_admin? %>
      <%= f.input :active %>
    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
