<%= link_to 'Create New League', new_league_path(:owner_id => current_user.id), :class => 'btn' %>
<h1>Leagues</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Active</th>
    <% if current_user.has_role? :admin %>
      <th></th>
      <th></th>
    <%end%>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= link_to league.name, league, :class => 'btn btn-block' %></td>
    <td><%= league.description %></td>
    <td><%= league.status %></td>
    <% if current_user.has_role? :admin %>
      <td><%= league.active %></td>
      <td><%= link_to 'Edit', edit_league_path(league), :class => 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />


