<h1> <%= @league.name %></h1>
<p>
  <%= @league.description %>
</p>
<%= link_to 'Members', leagueusers_path(:id => @league.id), :class => 'btn' %>
<%= link_to 'Meets', meetleagues_path(:id => @league.id), :class => 'btn' %>
<%= link_to "Join #{@league.name}", join_league_path(:id => @league.id), :class => 'btn' %>




<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
