<%= simple_form_for(@track) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open', 'Closed', 'Trash'],  :selected =>@track.status %>
    <%= f.input :membership, :collection => ['Public', 'Private'],  :selected =>@track.membership %>
    <%= f.input :description %>


  <%= f.input :tag_list, :label => "Tags (separated by commas)" %>




    <% if user_is_admin?%>
      <div class='admin_box'>
      <legend>Root Admin</legend>
      <%= f.input :owner_id %>
      <%= f.input :site_id %>
      </div>
    <%else%>  
      <%= f.hidden :site_id %>
      <%= f.hidden_field :owner_id %>
    <%end%>
      <%= f.select :level, ['White', 'Red', 'Green'] %>
    <%= f.input  :track_alias %>
    <%= f.input  :meet_alias %>
    <%= f.input  :card_alias %>
    <%= f.input  :race_alias %>
    <%= f.input  :horse_alias %>
    <%= f.input  :credit_alias %>
    <%= f.input  :member_alias %>
    <%= f.input  :bet_alias %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
