<h1>Listing Tracks</h1>
<%unless current_user.nil? %>
  <%= link_to 'My Owned Tracks', tracks_path(:search_type => 'mytracks'), :class => 'btn btn-mini '  %>
<%end%>
  <%= link_to 'Open Tracks', tracks_path(:search_type => 'open'), :class => 'btn btn-mini'  %>
       <%= link_to 'Track Tags', tag_cloud_path, :class => 'btn btn-mini ' %> 

<%= will_paginate @tracks %>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Public</th>
    <th>Status</th>
    <th>Description</th>
    <th>Members</th>

  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= link_to track.name , track_path(track), :class => 'btn btn-block'%><br />Tags: <%= raw track.tag_list.map { |t| link_to t, track_tag_path(t) }.join(', ') %></td>
    <% if track.owner %>
       <td><%= image_tag avatar_url(track.owner) %><br />
    <small><%= track.owner.name %></small></td>
    <%else%>
      <td>No Owner</td>
    <%end%>
    <%if track.public?%>
      <td>Public</td>
    <%else%>
      <td>Private</td>
    <%end%>
    <td><%= track.status %></td>
    <td><%= track.description %></td>
    <td><%=track.trackusers.count%></td>

  </tr>
<% end %>
</table>
<%= will_paginate @tracks %>
<br />


