

<div class='track_box'>
 <h1> <%= link_to @track.name, track_path(:id => @track.id) %> </h1>
  <%= @track.description %>
  <%if user_is_track_owner?(@track) %>
    <%=link_to 'Track Handicappers', trackusers_path(:track_id => @track.id),  :class => 'btn btn-mini btn-warning' %> 
    <%= link_to "New #{@track.meet_alias}", new_meet_path(:track_id => @track.id), :class => 'btn btn-mini btn-warning' %>
    <%= link_to "Edit #{@track.track_alias}", edit_track_path(@track), :class => 'btn btn-mini btn-warning'%> |
  <%end%>
</div>


<div class='meet_box'>
<h2> <%=@track.meet_alias%>s for <%= @track.name %></h2>

<table class='table table-striped table-bordered table-condensed'>

<% @track.meets.each do |meet| %>
  <tr>
    <td><%=link_to  meet.name, track_meet_path(:id => meet.id, :track_id => @track.id), :class => 'btn btn-block' %></td>

    <td><%= meet.description %></td>

<%if user_is_track_owner?(@track) %>
    <td><%= link_to 'Edit Meet', edit_meet_path(meet), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', meet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />

</div>

