<% content_for :head do %>
    <meta property="og:title" content="<%="Fantasy Odds Maker #{@track.name}"%>"/>
    <meta property="og:type" content="game"/>
    <meta property="og:url" content="<%="http://www.fantasyoddsmaker.com/tracks/#{@track.id}/"%>"/>
    <meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
    <meta property="og:site_name" content="Fantasy Odds Maker-<%=@track.name%>"/>
    <meta property="og:description"
          content="<%=@track.description%>"/>

<%end%>
<div class='track_box'>
 <h1> <%=  @track.name %>  <%="-#{@track.status}" unless @track.status ==  'Open'%> <%="-#{@track.membership}" unless @track.membership ==  'Public'%></h1>
<div class="fb-like" data-href="<%= j "http://www.fantasyoddsmaker.com/tracks/#{@track.id}/"%>" data-send="true" data-width="450" data-show-faces="true">
</div>


<br />
  <%= @track.description %> 

  
<% if user_signed_in? %>
  <% if is_track_member?(@track) %>
       <%= link_to "Quit #{@track.name}", quit_track_path(:id => @track.id), :class => 'btn btn-danger btn-mini', :data => { :confirm => "Are you sure? This will remove you as a member of the Track #{@track.name}!" } %>
  <%elsif @track.membership == 'Public' %>
      <%= link_to "Join #{@track.name}", join_track_path(:id => @track.id, :status => 'Member'), :class => 'btn btn-mini btn-success' %>
  <% elsif is_pending_track_member?(@track) %>
        Membership Pending

  <%elsif @track.membership == 'Private' %>
      <%= link_to "Request Permission to Join #{@track.name}", join_track_path(:id => @track.id, :status => 'Pending' ), :class => 'btn btn-mini btn-success' %>
  <%elsif @track.status == 'Pending' %>
      Not accepting Members at this time.
  <%end%>
 
  
<%else%>

  <p>Login or Sign Up to Join the Track</p>
<%end%>







  <%if user_is_track_owner?(@track) %>

    <%=link_to "Track Members", trackusers_path(:track_id => @track.id),  :class => 'btn btn-mini btn-warning' %> 
<%if @track.membership == 'Private' %>
    <%= link_to "Pending Members: #{@pending_members_count}", trackusers_path(:track_id => @track.id, :status => 'Pending'),  :class => 'btn btn-mini btn-warning' %>
<%end%>
    <%= link_to "New #{@track.meet_alias}", new_meet_path(:track_id => @track.id), :class => 'btn btn-mini btn-warning' %>
    <%= link_to "Edit #{@track.track_alias}", edit_track_path(@track), :class => 'btn btn-mini btn-warning'%> |
  <%end%>
</div>

<%if @track.membership == 'Public' || is_track_member?(@track) %>
<div class='meet_box'>
<h2> <%=@track.meet_alias.pluralize%> for <%= @track.name %></h2>

<table class='table table-striped table-bordered table-condensed'>

<% @track.meets.each do |meet| %>
  <tr>
    <td><%=link_to  meet.name, track_meet_path(:id => meet.id, :track_id => @track.id), :class => 'btn btn-success btn-block' %></td>
     <td><%=meet.status%></td>
    <td><%= meet.description %></td>

<%if user_is_track_owner?(@track) %>
    <td><%= link_to "Edit #{@track.meet_alias}", edit_meet_path(meet), :class => 'btn btn-mini btn-warning' %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />

</div>
<div>
<h5>Comments on <%=@track.name%></h5>

</div>
<fb:comments-count href="<%= j "http://www.fantasyoddsmaker.com/tracks/#{@track.id}/"%>"></fb:comments-count> comments 

<div class="fb-comments" data-href="<%= j "http://www.fantasyoddsmaker.com/tracks/#{@track.id}/"%>" data-width="470" data-num-posts="10"></div>

<%else%>


<%end%>
