<h1>Comments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Meet</th>
    <th>Race</th>
    <th>Card</th>
    <th>Track</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_id %></td>
    <td><%= comment.meet_id %></td>
    <td><%= comment.race_id %></td>
    <td><%= comment.card_id %></td>
    <td><%= comment.track_id %></td>
    <td><%= comment.body %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
  <%= link_to 'New Comment', new_comment_path(:card_id => @card.id) %>
<%end%>
