<div class='track_box'>
 <h1> <%= link_to @track.name, track_path(:id => @track.id) %> </h1>
<%if user_is_track_owner?(@track) %>
  <%=link_to 'Track Bettors', trackusers_path(:track_id => @track.id),  :class => 'btn btn-mini btn-warning' %> 
<%end%>
</div>
<%= render 'form' %>

<%= link_to 'Show', @trackuser %> |
<%= link_to 'Back', trackusers_path %>
