<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open','Pending Payout','Canceled', 'Finished', 'Closed','Trash'],  :selected => @race.status, as: :radio_buttons  %>
    <%= f.hidden_field :card_id, :value => @card.id %>
    <%= f.hidden_field :meet_id, :value => @meet.id %>
    <%= f.hidden_field :track_id, :value => @track.id %>
    <%= f.input :start_betting_time , :label => 'Start Betting Time'%>
    <%= f.input :post_time, :label => 'Stop Betting Time' %>

    <%= f.input :win, label: 'Win Bet Allowed' %>


    <%= f.input :place, :label => 'Place Bet Allowed' %>

    <%= f.input :show , :label => 'Show Bet Allowed'%>

    <%= f.input :exacta, :label => 'Exacta Bet Allowed' %>

    <%= f.input :trifecta, :label => 'Trifecta Bet Allowed' %>

    <%= f.input :exchange, :label => 'Exchange Bet Allowed' %>

    <%= f.input :level, :collection => ['White', 'Red', 'Green'], as: :radio_buttons %>

    <%= f.input :description %>
  
    <%= f.input :morning_line %>
    <%= f.input :results %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
