<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open','Pending Payout','Canceled','Closed','Trash'],  :selected => @race.status %>
    <%= f.hidden_field :card_id, :value => @card.id %>
    <%= f.hidden_field :meet_id, :value => @meet.id %>
    <%= f.hidden_field :track_id, :value => @track.id %>
    <%= f.input :start_betting_time %>
    <%= f.input :post_time %>

    <%= f.label 'Win Bet Allowed' %>
    <%= f.check_box :win, :label => 'Win Bet Allowed' %>

    <%= f.label 'Place Bet Allowed' %>
    <%= f.check_box :place, :label => 'Place Bet Allowed' %>

    <%= f.label 'Show Bet Allowed' %>
    <%= f.check_box :show %>

    <%= f.label 'Exacta Bet Allowed' %>
    <%= f.check_box :exacta %>

    <%= f.label 'Trifecta Bet Allowed' %>
    <%= f.check_box :trifecta %>

    <%= f.label 'Exchange Offers Allowed' %>
    <%= f.check_box :exchange %>

    <%= f.input :description %>
      <%= f.select :level, ['White', 'Red', 'Green'] %>
    <%= f.input :morning_line %>
    <%= f.input :results %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
