<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open','Pending Payout','Closed','Trash'],  :selected => @race.status %>
    <%= f.hidden_field :card_id, :value => @card.id %>
    <%= f.hidden_field :track_id, :value => @track.id %>
    <%= f.input :start_betting_time %>
    <%= f.input :post_time %>
    <%= f.input :description %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
