<h1>Listing races</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Card</th>
    <th>Name</th>

    <th>Status</th>
    <th>Start betting time</th>
    <th>Post time</th>
    <th>Description</th>
    <th>Completed</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= link_to race.card.name, race.card, :class => 'btn btn-success' %></td>
    <td><%= link_to race.name, race, :class => 'btn btn-success' %></td>

    <td><%= race.status %></td>
    <td><%= race.start_betting_time.strftime("%B %d at %I:%M %p %Z") %></td>
    <td><%= race.post_time.strftime("%B %d at %I:%M %p %Z") %></td>
    <td><%= race.description %></td>
    <td><%= race.completed %></td>
    <td><%= race.completed_date %></td>
    <% if user_is_site_manager? %>

      <td><%= link_to 'Edit', edit_race_path(race) , :class => 'btn btn-warning'%></td>
      <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-warning'%></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />


