<h1>Listing races</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Card</th>
    <th>Status</th>
    <th>Start betting time</th>
    <th>Post time</th>
    <th>Description</th>
    <th>Completed</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.name %></td>
    <td><%= race.card.name %></td>
    <td><%= race.status %></td>
    <td><%= race.start_betting_time %></td>
    <td><%= race.post_time %></td>
    <td><%= race.description %></td>
    <td><%= race.completed %></td>
    <td><%= race.completed_date %></td>
    <% if user_is_admin? %>
      <td><%= link_to 'Show', race %></td>
      <td><%= link_to 'Edit', edit_race_path(race) %></td>
      <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
