<% content_for :head do %>
 <script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>')
 var card_channel = pusher.subscribe('<%="card#{@race.card.id}"%>');
 card_channel.bind('<%="card#{@race.card.id}"%>', function(data) {
   alert(data.greeting);
 });

(function() {

  jQuery(function() {
    return $('#races').sortable({
      axis: 'y',
      update: function() {
        return $.post(('<%=sort_race_url(:id => @race.id)%>'), $(this).sortable('serialize'));
      }
    });
  });

}).call(this);
 </script>
<%end%>


<strong> <%= @track.track_alias%>: <%= link_to @track.name, track_path(@track.id),  :class => 'btn btn-mini btn-success'%></strong> ->
<strong>  <%= @track.meet_alias%>: <%= link_to @meet.name, @meet,  :class => 'btn btn-mini btn-success' %>
</strong>->
<strong><%= @track.card_alias%>: <%= link_to @race.card.name, card_path(:id => @race.card.id),:class => 'btn btn-mini btn-success' %></strong>




<div class='box2'>

<h1><%= @track.race_alias%>: <%=@race.name%>--<%=@race.status%></h1>
<%= render :partial => 'cards/credits' %>
<%= link_to "Total Pool-#{@race.total_bets}", bets_path(:race => @race.id), :class => 'btn btn-mini'%>
 <p> <%= @race.description %></p>
<% if user_signed_in? %>
  <%= link_to "My #{@meet.track.race_alias} Bets", mybets_path(:race => @race.id), :class => 'btn btn-mini'%>
<%end%>
  <b>Start time:</b>
  <%= @race.start_betting_time.strftime("%B %d at %I:%M %p %Z") %>
---
  <b>End time:</b>
  <%= @race.post_time.strftime("%B %d at %I:%M %p %Z") %>
</p>
<%if user_is_track_manager?(@track) %>
    <%if @race.status == 'Open' %>
      <%= link_to "Close #{@track.race_alias}", close_race_path(:id => @race.id, :status => 'Closed'), :class => 'btn btn-mini btn-warning' %>
      <%= link_to "Pending Payout #{@track.race_alias}", close_race_path(:id => @race.id, :status => 'Pending Payout'), :class => 'btn btn-mini btn-warning' %>
    <% elsif @race.status == 'Pending Payout' %>
      <%= link_to "Open #{@track.race_alias}", close_race_path(:id => @race.id, :status => 'Open'), :class => 'btn btn-mini btn-warning' %>
      <%= link_to "Payout #{@track.race_alias}", payout_race_path(:id => @race.id), :class => 'btn btn-mini btn-warning', data: { confirm: 'Are you sure? This will payout this race.' } %>
    <%else%>
      <%= link_to "Open #{@track.race_alias}", close_race_path(:id => @race.id, :status => 'Open'), :class => 'btn btn-mini btn-warning' %>

    <%end%>
   <%= link_to "Delete #{@track.race_alias}", @race, method: :delete, data: { confirm: 'Are you sure? This will delete this race.' }, :class => 'btn btn-mini btn-danger' %>
      <%= link_to "Cancel  #{@track.race_alias}", cancel_race_path(@race, :status => 'Canceled'), :class => 'btn btn-mini btn-warning', data: { confirm: 'Are you sure? This will cancel this race.' } %>
<td><%= link_to "Edit #{@track.race_alias}", edit_race_path(@race), :class => 'btn btn-mini btn-warning' %> 
<%end%>
<br /><br />
<% if current_user %>
  <%unless current_user.credits_balance < 1%>
    <%if @race.status == 'Open' %>
      <%if @race.exacta?%>
        <%= link_to 'Exacta', exacta_path(:race_id => @race.id), :class => 'btn btn-success' %>
      <%end%>
      <%if @race.trifecta?%>
        <%= link_to 'Trifecta', trifecta_path(:race_id => @race.id), :class => 'btn btn-success' %>
     <%end%>
   <%end%>
  <%else%>
    <%= link_to "Borrow #{@site.initial_credits} Credits", borrow_path(:race_id => @race.id), :class => 'btn btn-success' %>
  <%end%>
<%end%>

    <%if @race.status == 'Open' || @race.status == 'Pending Payout' %>
<table id='horses' class='table table-striped table-bordered table-condensed'>

  <tbody id="races" data-update-url="<%= sort_card_url(:id => @card.id) %>">
  <% @gates.each do |gate| %>

  <tr id="gate_<%=gate.id%>">


    <td><strong><%= gate.number %></strong></td>
    <td><strong><%= link_to gate.horse.name, horse_path(gate.horse), :class => 'btn btn-block' %></strong></td>
    <td><%= gate.horse.description %></td>
    <td><%= gate.horse.finish %></td>
    <td>Total <%=@track.bet_alias%>: Win Pot: <%= gate.total_bets('Win') %> Odds: <%=gate.odds('Win')%></td>

<%if @race.betting_status == 'Open' %>
  <%if gate.status == 'Open'%>
    <% if user_signed_in? %>

      <%unless current_user.credits_balance < 1%>
        <td><%= link_to 'Bet', new_bet_path(:horse_id => gate.horse.id, :race_id => @race.id, :gate_id => gate.id), :class => 'btn btn-success' %></td>
       
      <%else%>
        <td>
        Sorry, Out of Credits
</td>
      <%end%>
    <%else%>
      <td> <%= link_to 'Login', login_path , :class => 'btn btn-mini btn-info' %></td>
    <%end%>

  <%elsif gate.status == 'Scratched' %>
       <td>Scratched</td>
  <%else%>
     <td><%= gate.horse.status %></td>   

   <%end%>
<%else%>
    <td><%=gate.status%></td>
<%end%>
<%if user_is_track_manager?(@track) %>
    <td><%= link_to "Edit Gate", edit_gate_path(gate, :race_id => @race.id), :class => 'btn btn-mini btn-warning' %> <%= link_to "Delete Gate", gate, method: :delete, data: { confirm: 'Are you sure? This will delete this Gate' }, :class => 'btn btn-mini btn-danger' %></td>
   
<%end%>
  </tr>
<% end %>
 </tbody>
</table>
<%end%>

<%if @race.status == 'Canceled' %>
<p> Race is canceled.</p>
<%end%>
<%if user_is_track_manager?(@track) %>
<%= link_to "New #{@track.horse_alias}", new_horse_path(:race_id => @race.id), :class => 'btn btn-mini btn-warning' %>
<%= link_to "New Gate", new_gate_path(:race_id => @race.id), :class => 'btn btn-mini btn-warning' %>

<%end%>
<%if @race.status == 'Finished' %>
<p><%=@race.results %></p>
<h4>Results</h4>
<table id='horses' class='table table-striped table-bordered table-condensed'>

  <tbody id="races">
<% @race.gates.order('finish').each do |gate| %>

  <tr id="gate_<%=gate.id%>">

    <td><%= gate.finish %></td>
    <td><strong><%= gate.horse.name %></strong></td>
    <td><%= gate.horse.description %></td>
    <td>Total <%=@track.bet_alias%>: Win Pot: <%= gate.total_bets('Win') %> Odds: <%=gate.odds('Win')%></td>
<br />
  </tr>
<% end %>
 </tbody>
</table>
<%end%>
<div class='morning_line'>
<h4>Morning Line</h4>
<%= @race.morning_line %>
</div>


</div>

<h5>Comments on <%=@race.name%></h5>

</div>
<fb:comments-count href="<%= j "http://#{@site.domain}races/#{@race.id}/"%>"></fb:comments-count> comments 

<div class="fb-comments" data-href="<%= j "http://#{@site.domain}/cards/#{@race.id}/"%>" data-width="470" data-num-posts="10"></div>


