<p id="notice"><%= notice %></p>


<h1><%= link_to @track.name, track_path(@track.id), :class => 'btn' %></h1>


  <h2><%= link_to @race.card.name, card_path(:id => @race.card.id), :class => 'btn' %></h2>
<% if user_signed_in? %>
<h4>Credit Balance for <%=@race.card.meet.name%>: <%=current_user.meet_balance(@race.card.meet) %></h4>
<%else%>
<h3>Login or Signup for Free 100 Credits</h3>
<%end%>

<p>
  <b>Start betting time:</b>
  <%= @race.start_betting_time %>
</p>

<p>
  <b>Post time:</b>
  <%= @race.post_time %>
</p>

<p>

  <%= @race.description %>
</p>

<h3>Outcomes-Total Pool: <%= @race.total_bets%></h3>

<%if user_is_track_owner?(@track) %>
    <%= link_to 'Close Race', close_race_path(:id => @race.id), :class => 'btn btn-mini btn-warning' %>
<%end%>

<table class='table table-striped table-bordered table-condensed'>

<% @horses.each do |horse| %>
  <tr>
    <td><%= horse.name %></td>
    <td><%= horse.description %></td>
    <td><%= horse.finish %></td>
    <td>Total Bets: <%= horse.total_bets %> Odds: <%=horse.odds%></td>
<% if user_signed_in? %>
    <td><%= link_to 'Bet', new_bet_path(:horse_id => horse.id), :class => 'btn btn-success' %></td>
<%else%>
    <td><%= link_to 'Login to Bet', new_user_session_path , :class => 'btn btn-mini btn-info' %> </td>
<%end%>
<%if user_is_track_owner?(@track) %>
    <td><%= link_to 'Edit', edit_horse_path(horse, :race_id => @race.id), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', horse, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %></td>
   
<%end%>
  </tr>
<% end %>
</table>

<br />
<%if user_is_track_owner?(@track) %>
<%= link_to 'New Horse', new_horse_path(:race_id => @race.id), :class => 'btn btn-mini btn-warning' %>


<%= link_to 'Edit', edit_race_path(@race), :class => 'btn btn-mini btn-warning' %> 
<%end%>
