<% if user_signed_in? %>
<h4>Credit Balance for <%=@meet.name%>: <%=current_user.meet_balance(@meet) %></h4>
<%else%>
<h3>Login or Signup for Free 100 Credits</h3>
<%end%>
<%= simple_form_for(@bet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :user_id , :value => current_user.id%>
    <%= f.hidden_field :horse_id , :value => @bet.horse_id%>
    <%= f.hidden_field :race_id , :value => @horse.race.id%>
    <%= f.input :amount, :required => true %>
    <%= f.select :bet_type , ['Win']%>

    <%= f.hidden_field :meet_id , :value => @bet.meet_id%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
