<%= render :partial => 'cards/credits' %>

<%= simple_form_for(@bet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :user_id , :value => current_user.id%>
    <%= f.hidden_field :track_id , :value => @track.id%>
    <%= f.hidden_field :meet_id , :value => @meet.id%>
    <%= f.hidden_field :card_id , :value => @card.id%>
    <%= f.hidden_field :race_id , :value => @horse.race.id%>
    <%= f.hidden_field :horse_id , :value => @bet.horse_id%>
    <%= f.hidden_field :gate_id , :value => @bet.gate_id%>
    <%= f.input :amount, :required => true %>
    <%= f.select :bet_type ,allowed_bets %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, @track.bet_alias %>
  </div>
<% end %>
