<h4>Credit Balance for <%=@horse.race.card.meet.name%>: <%=current_user.meet_balance(@horse.race.card.meet) %></h4>
<%= simple_form_for(@bet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :user_id , :value => current_user.id%>
    <%= f.hidden_field :horse_id , :value => @bet.horse_id%>
    <%= f.hidden_field :race_id , :value => @horse.race.id%>
    <%= f.input :amount %>
    <%= f.hidden_field :bet_type , :value => 'Win'%>

    <%= f.hidden_field :meet_id , :value => @bet.meet_id%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
