<h1>New <%=@track.bet_alias%> for <%=link_to @race.name, race_path(@race)%></h1>_
  <h4> White <%=@site.credit_alias %> Balance : <%=current_user.white_credits_balance.round %> </h4>
  <h4> Red <%=@site.credit_alias %> Balance : <%=current_user.red_credits_balance.round %> </h4>
<h2> <%=@gate.horse.name %></h2>
<%= render 'form' %>


