<h1>Editing <%=@horse.name%>--<%=@track.horse_alias%></h1>
<%=link_to "Scratch and Return Bets", scratch_horse_path(:id => @horse.id),  :class => 'btn btn-mini btn-warning' %>
<%= render 'form' %>

<%= link_to 'Show', @horse %> |
<%= link_to 'Back', horses_path %>
