<p id="notice"><%= notice %></p>


<h1>  <%= @horse.name %></h1>
<% if user_is_site_manager? %>
  <%= link_to "Edit #{@horse.name}", edit_horse_path(@horse), :class => 'btn btn-warning' %>
<%end%>
<p>

  <%= @horse.description %>
</p>



<h1>Listing Races</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>

    <th>Race</th>
    <th>Description</th>
    <th>Status</th>
    <th>Finish</th>
    <th>Date</th>
  </tr>

<% @gates.each do |gate| %>
  <tr>

    <td><%= link_to gate.race.name, race_path(gate.race), :class => 'btn' %></td>
    <td><%= gate.horse.description %></td>
    <td><%= gate.status %></td>
    <td><%= gate.finish %></td>
    <td><%= gate.race.post_time %></td>
  </tr>
<% end %>
</table>

