<h1>Listing gates</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Horse</th>
    <th>Finish</th>
    <th>Status</th>
    <th>Race</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gates.each do |gate| %>
  <tr>
    <td><%= gate.number %></td>
    <td><%= gate.horse_id %></td>
    <td><%= gate.finish %></td>
    <td><%= gate.status %></td>
    <td><%= gate.race_id %></td>
    <td><%= link_to 'Show', gate %></td>
    <td><%= link_to 'Edit', edit_gate_path(gate) %></td>
    <td><%= link_to 'Destroy', gate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gate', new_gate_path %>
