<h1>Listing Authentications</h1>
<%= will_paginate @authentications%>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>User</th>
    <th>Provider</th>
    <th>Uid</th>
    <th>Token</th>
    <th>Date</th>

  </tr>

<% @authentications.each do |authentication| %>
  <tr>
    <td><%= authentication.user.name unless authentication.user.blank? %></td>
    <td><%= authentication.provider %></td>
    <td><%= authentication.uid %>></td>
    <td><%= authentication.token %></td>
    <td><%= authentication.created_at.strftime("%B %d at %I:%M %p %Z") %></td>
        <td><%= link_to("Delete authentications", authentication_path(user), :data => { :confirm => "Are you sure you want to delete?" }, :method => :delete, :class => 'btn btn-mini') %></td>  
  </tr>
<% end %>
</table>
<%= will_paginate @authentications %>
<br />
