<h1>My Open Options</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Options type</th>
    <th>Price</th>
    <th>Status</th>
    <th>Gate</th>
    <th>Race</th>
    <th>Horse</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @open_contracts.each do |contract| %>
  <tr>
    <td><%= contract.contract_type %></td>
    <td><%= contract.price %></td>
    <td><%= contract.status %></td>

    <td><%= contract.gate.number %></td>
    <td><%= contract.race.name %></td>
    <td><%= contract.gate.horse.name %></td>
    <td><%= contract.number %></td>
    <% if user_is_site_manager? %>
      <td><%= link_to 'Show', contract %></td>
      <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
      <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<h1>Other Options</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Contract type</th>
    <th>Price</th>
    <th>Status</th>
    <th>Gate</th>
    <th>Race</th>
    <th>Horse</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @other_contracts.each do |contract| %>
  <tr>
    <td><%= contract.contract_type %></td>
    <td><%= contract.price %></td>
    <td><%= contract.status %></td>

    <td><%= contract.gate.number %></td>
    <td><%= contract.race.name %></td>
    <td><%= contract.gate.horse.name %></td>
    <td><%= contract.number %></td>
    <% if user_is_site_manager? %>
      <td><%= link_to 'Show', contract %></td>
      <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
      <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

