<h2>Edit <%= @user.name %></h2>
<%= simple_form_for(@user, :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name,  :label => 'Nick Name:',:autofocus => true %>

  <%if @user.encrypted_password.present? || params[:register].present?  %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation%>
  <%else%>
  <%= f.hidden_field :email %>
  <%end%>
    <% if user_is_admin?%>
      <%= f.input :site_id %>
    <%end%>
    <%= f.input :time_zone, :priority => /US/ %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", @user, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn' %>.</p>
<%= link_to "Back", :back %>
