<h1><%=@title%></h1>
<h2><%=@site.bet_alias%> for <%= link_to @user.name, edit_user_path(@user)%></h2>
<%= will_paginate @bets %>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th><%=@site.horse_alias%></th>
    <th>Amount</th>
    <th>Type</th>
    <th>Status</th>
    <th>Date</th>

  </tr>

<% @bets.each do |bet| %>
  <tr>
    <%if bet.bet_type == 'Exacta' %>
    <td><%= link_to "#{bet.track.name unless bet.track.blank?} -> #{bet.race.card.meet.name unless bet.race.card.blank?} -> #{bet.race.card.name unless bet.race.card.blank?}-Winner: #{bet.win.name} Place: #{bet.place.name}", race_path(:id => bet.race.id), :class => 'btn btn-block' %></td>
    <%elsif bet.bet_type == 'Trifecta' %>
    <td><%= link_to "#{bet.track.name unless bet.track.blank?} -> #{bet.race.card.meet.name unless bet.race.card.blank?} -> #{bet.race.card.name unless bet.race.card.blank?}-#{bet.win.name} #{bet.place.name}", race_path(:id => bet.race.id), :class => 'btn btn-block' %></td>
    <%else%>
    <td><%= link_to "#{bet.track.name unless bet.track.blank?} -> #{bet.race.card.meet.name unless bet.race.card.blank?} -> #{bet.race.card.name unless bet.race.card.blank?}-#{bet.horse.name}", race_path(:id => bet.race.id), :class => 'btn btn-block' %></td>
    <%end%>
    <td><%= bet.amount %></td>
    <td><%= bet.bet_type %></td>
    <td><%= bet.status %></td>
    <td><%= bet.created_at.strftime("%B %d at %I:%M %p %Z") %></td>

  </tr>
<% end %>
</table>
<%= will_paginate @bets %>
<br />

