<h1>Listing <%=@site.credit_alias %> for <%= link_to @user.name, edit_user_path(@user) %></h1>
<%= will_paginate @credits %>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th><%=@site.member_alias %></th>
    <th><%=@site.track_alias %></th>
    <th><%=@site.meet_alias %></th>
    <th><%=@site.card_alias %></th>
    <th>Amount</th>
    <th>Level</th>
    <th>Description</th>
    <th>Type</th>
    <th>Date</th>

  </tr>

<% @credits.each do |credit| %>
  <tr>
    <td><%= credit.user.name if credit.user %></td>
    <td><%= credit.track.name if credit.track%></td>
    <td><%= credit.meet.name unless credit.meet.blank? %></td>
    <td><%= credit.card.name  unless credit.card.blank? %></td>
    <td><%= credit.amount %></td>
    <td><%= credit.level %></td>
    <td><%= credit.description %></td>
    <td><%= credit.credit_type %></td>
    <td><%= credit.created_at.strftime("%B %d at %I:%M %p %Z") %></td>
     <% if user_is_site_manager? %>

       <td><%= link_to 'Edit', edit_credit_path(credit), :class => 'btn btn-warning' %><td>
     <%end%>
  </tr>
<% end %>
</table>
<%= will_paginate @credits %>
<br />
