<%= link_to 'Join or Start a League', leagues_path, :class => 'btn' %>

      <%= link_to 'League Tags', leagues_tag_cloud_path, :class => 'btn ' %>



<h1>My Leagues</h1>

<table class='table table-striped table-bordered table-condensed'>

<% @leagueusers.each do |leagueuser| %>
  <tr>
    <%unless leagueuser.league.blank? %>
    <td><%= link_to leagueuser.league.name, league_path(:id => leagueuser.league_id), :class => 'btn btn-block' %></td>
    <td> <%= link_to 'Leaderboard', leaderboard_league_path(leagueuser.league), :class => 'btn' %></td>
    <%else%>
    <td><%= link_to 'No league', leagueuser_path(:id => leagueuser.id), :class => 'btn' %></td>
    <%end%>
    <%if is_league_manager?(leagueuser.league) %>
       <td><%= link_to 'Edit', edit_league_path(leagueuser.league_id), :class => 'btn btn-warning' %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

