<h1>Manage <%=@site.name %></h1>
          <%= render 'manage' %>
<%if @site.allow_stripe && @site.stripeconnect.blank? %>
    <p><a href="https://connect.stripe.com/oauth/authorize?response_type=code&scope=read_write&stripe_landing=login&client_id=ca_10ofXtafSCoOK4J0kIjfsElXxVqmDBNf&state=<%=@site.id%>"><%= image_tag "connect-button-blue.png" %></a></p>
<%end%>
<h3><%=@count%> Users</h3>


<div class="span8">

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <%= f.label :email_cont, "Email contains" %>
    <%= f.text_field :email_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<%= will_paginate @users %>
<table class='table table-striped table-bordered table-condensed'>
	  <thead>
      <tr>
          <th>Login As</th>
          <th>Email</th>
          <th>Status</th>
          <th>Registered</th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to "Login as #{user.name}", login_as_path(:user_id => user.id), :class => 'btn btn-mini btn-warning' %>
</td>
       
        <td><%= link_to user.email,edit_user_path(:id => user.id), :class => 'btn' %></td>
          <td><%= user.status %></td>
        <% if user.encrypted_password.blank? %>
          <td> Not Registered</td>
        <%else%>
          <td><%= user.created_at.to_date %></td>
        <%end%>

        <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure you want to delete #{user.name}?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user %></td>                                       
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @users %>
</div>
