<h1>Welcome to <%=@site.name%> <%=image_tag('beta_icon.jpg',:size => "48x48")%></h1>

<h3><%=@site.description %></h3>

  <p><%= link_to 'Join or Start a League', leagues_path, :class => 'btn' %> <%= link_to 'Browse Tracks', tracks_path(:search_type => 'open'), :class => 'btn' %>
<% if user_signed_in? %>
 <%#= link_to 'Start Your Own Track', new_track_path(:search_type => 'open'), :class => 'btn' %> </p>
<%else%>

<%end%>
<p>or</p>
<p>Start handicapping now.  Pick an Open Racing Card and start today!  Free!  </p> <p>
<%unless @cards.blank? %>

<%= will_paginate @cards %>
<table class='table table-striped table-bordered table-condensed'>

<% @cards.each do |card| %>
  <tr>

    <% if card.meet.track.owner %>
       <td><%= image_tag avatar_url(card.meet.track.owner) %><br />
    <small><%= card.meet.track.owner.name %></small></td>
    <%else%>
      <td>No Owner</td>
    <%end%>

    <td><%=card.meet.track.name%><br /><%= card.meet.track.description %></td>
    <%if card.meet.track.public?%>
      <td>Public</td>
    <%else%>
      <td>Private</td>
    <%end%>
    <td><%= link_to "#{card.name}", card, :class => 'btn btn-block' %><br /><%=card.description%></td>

  </tr>
<% end %>
</table>
<%else%>
<p> Sorry, there are no Open Racing Cards at this time.
<%end%>
<br />






