<h1>Welcome to Fantasy Odds Maker</h1>

<h2>Test your handicapping skills in all types of sports and real world events.</h3>
<% if user_signed_in? %>
  <p><%= link_to 'Join or Start a League', leagues_path, :class => 'btn' %> </p>
<%else%>
  <p>Sign in to Join or Start a League</p>
<%end%>
<p>or</p>
<p>Start handicapping now.  Pick a Racing Card and start today!  Free!<p>
<%unless @cards.blank? %>
<table class='table table-striped table-bordered table-condensed'>

<% @cards.each do |card| %>
  <tr>
    <td><%= link_to "#{card.meet.track.name}--#{card.name}", card, :class => 'btn btn-block' %></td>
    <td><%= card.description %></td>
  </tr>
<% end %>
</table>
<%else%>
<p> Sorry, there are no Open Cards at this time.
<%end%>
<br />


<h3>Browse Tracks</h3>
<%if @tracks.size > 0 %>
<table class='table table-striped table-bordered table-condensed'>

<% @tracks.each do |track| %>
  <tr>
    <td><%= link_to track.name, track_path(:id => track.id), :class => 'btn btn-block' %><%if user_is_track_owner?(track) %><%end%>
</td>
     <td><%=track.description%></td>
<%if user_is_track_owner?(@track) %>
     <td><%=link_to "Edit Track",edit_track_path(:id => track.id), :class => 'btn btn-mini btn-info'%></td>
<%end%>
  </tr>
<% end %>
</table>

<%else%>
<h3>Sorry, No tracks are open at this time.</h3>
<%end%>



