<%= simple_form_for(@meet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Active', 'Closed'],  :selected =>'Active' %>
    <%= f.input :track_id %>
    <%= f.input :open %>
    <%= f.input :description %>
    <%= f.input :completed %>
    <%= f.input :completed_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
