<%= simple_form_for(@meet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open', 'Closed', 'Archived', 'Trash'],  :selected => @meet.status %>
    <%= f.hidden_field :track_id, :value => @track.id %>
    <%= f.input :description %>
    <%= f.input :initial_credits %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
