<h1>Listing meets for <%= @track.name %></h1>

<table>

<% @meets.each do |meet| %>
  <tr>
    <td><%=link_to  meet.name, track_meet_path(:id => meet.id, :track_id => @track.id) %></td>

    <td><%= meet.description %></td>

<%if current_user.is_track_owner?(@track) %>
    <td><%= link_to 'Edit', edit_meet_path(meet), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', meet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />
<%if current_user.is_track_owner?(@track) %>
  <%= link_to 'New Meet', new_meet_path %>
<%end%>
