<h1>Listing meets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Track</th>
    <th>Open</th>
    <th>Description</th>
    <th>Completed</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meets.each do |meet| %>
  <tr>
    <td><%= meet.name %></td>
    <td><%= meet.track_id %></td>
    <td><%= meet.open %></td>
    <td><%= meet.description %></td>
    <td><%= meet.completed %></td>
    <td><%= meet.completed_date %></td>
    <td><%= link_to 'Show', meet %></td>
    <td><%= link_to 'Edit', edit_meet_path(meet) %></td>
    <td><%= link_to 'Destroy', meet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meet', new_meet_path %>
