<h1>Listing <%=@site.meet_alias%>s for <%= @site.name %></h1>

<table class='table table-striped table-bordered table-condensed'>

<% @meets.each do |meet| %>
  <tr>
    <td><%=link_to  meet.name, track_meet_path(:id => meet.id, :track_id => @track.id), :class => 'btn' %></td>

    <td><%= meet.description %></td>

<%if user_is_track_manager?(@track) %>
    <td><%= link_to "Edit #{@track.meet_alias}", edit_meet_path(meet), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to "Delete #{@track.meet_alias}", meet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %></td>
<%end%>
  </tr>
<% end %>
</table>

<br />

