<h1><%= link_to @track.name, track_path(@track.id), :class => 'btn' %></h1>
<p id="notice"><%= notice %></p>

<p>

<h2>  <%= @meet.name %></h2>
</p>
<p>
  <b>Description:</b>
  <%= @meet.description %>
</p>

<h3>Cards</h3>
<h4>Credit Balance for <%=@meet.name%>: <%=current_user.meet_balance(@meet) %></h4>
<%if current_user.meet_balance(@meet) == 0 %>
<%= link_to "Refresh Credits", refresh_credits_meet_path(:id => @meet.id) %>
<%end%>
<table class='table table-striped table-bordered table-condensed'>


<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.name, card_path(card), :class => 'btn' %></td>
    <td><%= card.description %></td>
    <%if user_is_track_owner?(@track) %>

      <td><%= link_to 'Edit', edit_card_path(card),  :class => 'btn btn-mini btn-warning' %></td>
      <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />



<%if user_is_track_owner?(@track) %>
<%= link_to "New Card for #{@meet.name}", new_card_path(:meet_id => @meet.id), :class => 'btn btn-mini btn-warning' %>
  <%= link_to "Edit Meet-#{@meet.name}", edit_meet_path(@meet), :class => 'btn btn-mini btn-warning' %> |
<%end%>
