<div class='track_box'>
<h4> Track: <%= link_to @track.name, track_path(:id => @track.id),:class => 'btn btn-mini btn-success' %></h4> 


</div>
<div class='meet_box'>
<h2>  <%= @track.meet_alias%>: <%= link_to @meet.name, @meet %>--<%=@meet.status%></h2>
<p>
  <b>Description:</b>
  <%= @meet.description %>
</p>


  <%= render :partial => 'meets/credits' %>

<h3><%=@track.card_alias.pluralize%></h3>
<table class='table table-striped table-bordered table-condensed'>


<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.name, card_path(card), :class => 'btn btn-success btn-block' %></td>
    <td><%= card.status%></td>
    <td><%= card.description %></td>
    <%if user_is_track_manager?(@track) %>

      <td><%= link_to "Edit #{@track.card_alias}", edit_card_path(card),  :class => 'btn btn-mini btn-warning' %></td>
      <td><%= link_to "Destroy-#{@track.card_alias}", card, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />



<%if user_is_track_manager?(@track) %>
<%= link_to "New #{@track.card_alias} for #{@meet.name}", new_card_path(:meet_id => @meet.id), :class => 'btn btn-mini btn-warning' %>
  <%= link_to "Edit #{@track.card_alias}-#{@meet.name}", edit_meet_path(@meet), :class => 'btn btn-mini btn-warning' %> |
<%end%>
</div>
<div class='comment_box'>



</div>
<h5>Comments on <%=@meet.name%></h5>

</div>
<fb:comments-count href="<%= j meet_path(@meet.id)%>/"></fb:comments-count> comments 

<div class="fb-comments" data-href="<%=j meet_path(@meet)%>/" data-width="470" data-num-posts="10"></div>
