<h1>Editing Offer</h1>
    <td><%= link_to 'Cancel', cancel_offer_path(@offer), :class => 'btn btn-warning' %></td>
<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :offer_type,:collection => ['Buy', 'Sell'], as: :radio_buttons %>
    <%= f.hidden_field :user_id %>
    <%= f.input :price %>
    <%= f.hidden_field :gate_id %>
    <%if false%>
      <%= f.input :from_now, :label => 'Expires from now ie in 10 minutes, in 1 day, in 1 hour, Leave blank for post time. etc.' %>
    <%end%>
    <%#=f.label 'Number Contracts, each contract is 100 units'%>
    <%= f.hidden_field :number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
