<% content_for :pusher do %>


 var channel = pusher.subscribe('<%="race#{@race.id}"%>');
   channel.bind('race_channel', function(data) {eval( data) });
   channel.bind('flash_message', function(data) {eval( data) });
 var gate_channel = pusher.subscribe('<%="gate#{@gate.id}"%>');
   gate_channel.bind('offersEvent', function(data) {eval( data) });
 var user_channel = pusher.subscribe('<%="user_open_contracts#{current_user.id}"%>');
   user_channel.bind('updateOpenContractsEvent', function(data) {eval( data) });

<%end %>

<strong> <%= @track.track_alias%>: <%= link_to @track.name, track_path(@track.id),  :class => 'btn btn-mini btn-success'%></strong> ->
<strong>  <%= @track.meet_alias%>: <%= link_to @meet.name, @meet,  :class => 'btn btn-mini btn-success' %>
</strong>->
<strong><%= @track.card_alias%>: <%= link_to @race.card.name, card_path(:id => @race.card.id),:class => 'btn btn-mini btn-success' %></strong>
<strong><%= @track.race_alias%>: <%= link_to @race.name, race_path(:id => @race.id),:class => 'btn btn-mini btn-success' %></strong><br /><br />
<h1>
<%= link_to "Gate: #{@gate.number}- #{@gate.horse.name}" , contracts_gate_path(:id => @gate.id) %></h1>
<h3><%=@card.description %></h3>
<h4><%=@race.description %></h4>

<strong><%= link_to "Current Trading Balance for Gate: #{@balance}" , contracts_gate_path(:id => @gate.id), :class => 'btn btn-mini' %> </strong> <br /><br />

<%if @best_buy_offer.blank? %>
 <p>Best Buy Option Offer: No Market</p>
<%else%>
 <p>Best Buy Option  Offer: <%=@best_buy_offer.price %>
<%end%>

<%if @best_sell_offer.blank? %>
  <p>Best Sell Option Offer: No Market</p>
<%else%>
<p>  Best Buy Option Offer: <%=@best_sell_offer.price %></p>
<%end%>
<div id='open_contracts' >
<%=render :partial => 'open_contracts' %>
</div>
  
<% if @race.open? %>

 <div id='buy_offers'>
<%=render :partial => 'buy_offers' %>
</div>

 <div id='sell_offers'>
<%=render :partial => 'sell_offers' %>
</div>
<br />
<%else%>
<h4><%=@race.betting_status %></h4>
<%end%>

