<% if user_signed_in? %>
      <%  initial_credits = Credit.where("user_id = ? and credit_type = 'Initial' and card_id = ?", current_user.id, @card.id).first%>

  <h4><%=@track.credit_alias.pluralize%>  Balance for <%=@card.name%>: <%=current_user.card_balance(@card) %> 

 <%if initial_credits.blank?%>
     Bet and Get <%=@card.initial_credits%> Free Credits
   <%end%></h4>

  <%if current_user.meet_balance(@card) == 0 %>
    <%#= link_to "Refresh Credits", refresh_credits_card_path(:id => @card.id) %>
  <%end%>
<%= link_to "#{@card.meet.track.card_alias} Rankings", rankings_path(:card_id => @card.id), :class => 'btn btn-mini'%>
<%= link_to "#{@card.meet.track.card_alias} Bets", bets_path(:card => @card.id), :class => 'btn btn-mini'%>
<%else%>
<h3>Login or Signup for Free 100 Credits and start bidding today</h3>
<%end%>

