<%= simple_form_for(@card) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status, :collection => ['Pending', 'Open', 'Closed', 'Archived','Trash'],  :selected => @card.status %>
    <%= f.hidden_field :meet_id , :value => @card.meet_id%>
    <%= f.hidden_field :track_id , :value => @track_id%>
    <%= f.input :initial_credits %>
    <%= f.input :description %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
