<h1>Listing cards</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%if @cards %>
<% @cards.each do |card| %>
  <tr>
    <td><%= card.name %></td>

    <td><%= card.description %></td>

<%if current_user.is_track_owner?(@track) || current_user.has_role?('Admin') %>
    <td><%= link_to 'Edit', edit_card_path(card), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-mini btn-warning'%></td>
<%end%>

  </tr>
<% end %>
</table>
<%else%>

<h3>There are no Open Cards at this time.</h3>
<%end%>
<br />
<%if current_user.is_track_owner?(@track) %>
  <%= link_to 'New Card', new_card_path, :class => 'btn btn-mini btn-warning' %>
<%end%>
