<% content_for :head do %>
 <script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>')
 var card_channel = pusher.subscribe('<%="card#{@card.id}"%>');
 card_channel.bind('<%="card#{@card.id}"%>', function(data) {
   alert(data.greeting);
 });
 </script>
<%end%>


<div class='track_box'>
<h1> <%= @track.track_alias%>: <%= link_to @track.name, track_path(@track.id)%></h1>
</div>
<div class='meet_box'>
<h2>  <%= @track.meet_alias%>: <%= link_to @meet.name, @meet %>--<%=@meet.status%></h2>
<%= render :partial => 'meets/credits' %>
</div>
<div class='card_box'>
<h3> <%= @track.card_alias%>:<%= link_to @card.name, card_path(:id => @card.id) %>-<%= @card.status%></h3>

<p>
  <%= @card.description %><%= render :partial => 'cards/credits' %>
</p>
<%if user_is_track_owner?(@track) %>
   <% if @card.status == 'Open'%>
   <%= link_to "Close #{@track.card_alias}", close_card_path(@card),  :class => 'btn btn-mini btn-warning' , data: { confirm: 'Are you sure? This will close this card' }%>
   <%else%>
   <%= link_to "Open #{@track.card_alias}", open_card_path(@card),  :class => 'btn btn-mini btn-warning' , data: { confirm: 'Are you sure? This will close this card' }%>
   <%end%>
   <%= link_to "Edit #{@track.card_alias}", edit_card_path(@card),  :class => 'btn btn-mini btn-warning' %>
<%= link_to "Destroy-#{@track.card_alias}", @card, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
<%= link_to "Push Message to #{@track.member_alias.pluralize} ", message_card_path(:id => @card.id), :class => 'btn btn-mini btn-warning' %>
<%end%>
<h4> <%=@track.race_alias.pluralize%></h4>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Description</th>
<%if user_is_track_owner?(@track) %>
    <th></th>

 <%end%>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= link_to race.name, race_path(:id => race.id), :class => 'btn btn-block' %></td>
    <td><%=race.betting_status%></td>
    <td><%= race.description %></td>
<%if user_is_track_owner?(@track) %>
    <td><%= link_to 'Edit', edit_race_path(race), :class => 'btn btn-mini btn-warning' %> <%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
 <%end%>
  </tr>
<% end %>
</table>

<br />

<%if user_is_track_owner?(@track) %>
<%= link_to "New #{@track.race_alias}", new_race_path(:card_id => @card.id), :class => 'btn btn-mini btn-warning' %>



<%=link_to "Edit #{@card.name}", edit_card_path(@card),:class => 'btn btn-mini btn-warning' %>
 <%= link_to "Close #{@card.name}", close_card_path(@card),  data: { confirm: "Are you sure? This will close this #{@track.card_alias}" }, :class => 'btn btn-mini btn-warning' %>
<%end%>
</div>
<div class='comment_box'>


<% if user_signed_in? %>
<%= link_to 'New Comment', new_comment_path(:card_id => @card.id), :class => 'btn' %>
<%else%>
Log in to Comment
<%end%>
  <%= render :partial => 'comments/index_table' %>
</div>
