<h1><%=@track.name %></h1>
<p id="notice"><%= notice %></p>
<h2>  <%= @meet.name %></h2>
</p>
<p>
  <%= @meet.description %>
</p>


  <h3><%= @card.name %><h3>

<p>
  <%= @card.description %>
</p>

<h3>Listing races</h3>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Start betting time</th>
    <th>Post time</th>
    <th>Description</th>
<%if current_user.is_track_owner?(@track) %>
    <th></th>
    <th></th>
    <th></th>
 <%end%>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= link_to race.name, race_path(:id => race.id), :class => 'btn' %></td>
    <td><%= race.start_betting_time %></td>
    <td><%= race.post_time %></td>
    <td><%= race.description %></td>
<%if current_user.is_track_owner?(@track) %>
    <td><%= link_to 'Edit', edit_race_path(race), :class => 'btn btn-mini btn-warning' %></td>
    <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %></td>
 <%end%>
  </tr>
<% end %>
</table>

<br />

<%if current_user.is_track_owner?(@track) %>
<%= link_to 'New Race', new_race_path(:card_id => @card.id), :class => 'btn btn-mini btn-warning' %>


<%= link_to 'Edit', edit_card_path(@card), :class => 'btn btn-mini btn-warning' %>

<%end%>
