<% content_for :head do %>
 <script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>')
 var card_channel = pusher.subscribe('<%="card#{@card.id}"%>');
 card_channel.bind('<%="card#{@card.id}"%>', function(data) {
  alert('An event was triggered with message: ' + data.message);
 });

(function() {

  jQuery(function() {
    return $('#races').sortable({
      axis: 'y',
      update: function() {
        return $.post(('<%=sort_card_url(:id => @card.id)%>'), $(this).sortable('serialize'));
      }
    });
  });

}).call(this);

 </script>
<%end%>


<div class='track_box'>
<strong> <%= @track.track_alias%>: <%= link_to @track.name, track_path(@track.id),  :class => 'btn btn-mini btn-success'%></strong> ->
<strong>  <%= @track.meet_alias%>: <%= link_to @meet.name, @meet,  :class => 'btn btn-mini btn-success' %></strong>
</div>

<div class='card_box'>
<h3> <%= @track.card_alias%>:<%= link_to @card.name, card_path(:id => @card.id) %>-<%= @card.status%></h3>

<p>
  <%= @card.description %><%= render :partial => 'cards/credits' %>
</p>
<%if user_is_track_manager?(@track) %>
   <% if @card.status == 'Open'%>
   <%= link_to "Close #{@track.card_alias}", close_card_path(@card),  :class => 'btn btn-mini btn-warning' , data: { confirm: "Are you sure? This will close this #{@track.card_alias}" }%>
   <%else%>
   <%= link_to "Open #{@track.card_alias}", open_card_path(@card),  :class => 'btn btn-mini btn-warning' , data: { confirm: "Are you sure? This will open this #{@track.card_alias}" }%>
   <%end%>
   <%= link_to "Edit #{@track.card_alias}", edit_card_path(@card),  :class => 'btn btn-mini btn-warning' %>
<%= link_to "Destroy-#{@track.card_alias}", @card, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
<%= link_to "Push Message to #{@track.member_alias.pluralize} ", message_card_path(:id => @card.id), :class => 'btn btn-mini btn-warning' %>
<%end%>
<h4> <%=@track.race_alias.pluralize%></h4>

<table id='races' class='table table-striped table-bordered table-condensed'>
<tr>
    <th>Number</th>
    <th>Name</th>
    <th>Status</th>
    <th>Description</th>
<%if user_is_track_manager?(@track) %>
    <th></th>

 <%end%>
  </tr>
  <tbody id="races" data-update-url="<%= sort_card_url(:id => @card.id) %>">
<% @races.each do |race| %>

  <tr id="race_<%=race.id%>">
    <td><%=race.position%></td>
    <td><%= link_to race.name, race_path(:id => race.id), :class => 'btn btn-success btn-block' %></td>
    <td><%=race.betting_status%></td>
    <td><%= race.description %></td>
<%if user_is_track_manager?(@track) %>
    <td><%= link_to 'Edit', edit_race_path(race), :class => 'btn btn-mini btn-warning' %> <%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
 <%end%>
  </tr>

<% end %>
</tbody>
</table>

<br />

<%if user_is_track_manager?(@track) %>
<%= link_to "New #{@track.race_alias}", new_race_path(:card_id => @card.id), :class => 'btn btn-mini btn-warning' %>



<%=link_to "Edit #{@card.name}", edit_card_path(@card),:class => 'btn btn-mini btn-warning' %>
 <%= link_to "Close #{@card.name}", close_card_path(@card),  data: { confirm: "Are you sure? This will close this #{@track.card_alias}" }, :class => 'btn btn-mini btn-warning' %>
<%end%>
</div>
<div class='comment_box'>



</div>
<h5>Comments on <%=@card.name%></h5>

</div>
<fb:comments-count href="<%= j "http://#{@site.domain}/cards/#{@card.id}/"%>"></fb:comments-count> comments 

<div class="fb-comments" data-href="<%= j "http://#{@site.domain}/cards/#{@card.id}/"%>" data-width="470" data-num-posts="10"></div>
