<% content_for :head do %>
    <meta property="og:title" content="<%="#{@achievement.name}"%>"/>
    <meta property="og:type" content="game.achievement"/>
    <meta property="og:url" content="<%="http://www.fantasyoddsmaker.com/achievements/#{@achievement.id}/"%>"/>
    <meta property="og:image" content="<%="http://www.fantasyoddsmaker.com/assets/#{@achievement.image_url}"%>"/>
    <meta property="og:points" content='<%=@achievement.points%>' />


<%end%>
<h1><%=@achievement.name%></h1>
<%= image_tag @achievement.image_url %>
<%=@achievement.description%>
