<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :name, :label => 'Stripe Plan Name' %>
    <%= f.input :site_id %>
    <%= f.input :description %>
    <%= f.input :amount, :label => 'Amount in Cents' %>
    <%= f.input :period %>
    <%= f.input :max_members %>
    <%= f.input :max_tracks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
