<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>
<p>
  <b>Title:</b>
  <%= @plan.name %>
</p>
<p>
  <b>Site:</b>
  <%= @plan.site_id %>
</p>

<p>
  <b>Description:</b>
  <%= @plan.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @plan.amount %>
</p>

<p>
  <b>Period:</b>
  <%= @plan.period %>
</p>
<p>
  <b>Maximum Member:</b>
  <%= @plan.max_members %>
</p>
<p>
  <b>Maximum Tracks:</b>
  <%= @plan.max_tracks %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
