<%= simple_form_for(@selected_site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :owner_id %>
    <%= f.input :initial_credits %>
    <%= f.input :facebook_key %>
    <%= f.input :facebook_secret %>
    <%= f.input :twitter_key %>
    <%= f.input :twitter_secret %>
    <%= f.input :domain %>
    <%= f.input :permalink, :label => 'Subdomain' %>
    <%= f.input :rebuy_credits %>
    <%= f.input :rebuy_charge, :label => 'Rebuy Charge In Cents' %>
    <%if user_is_admin? %>
      <%= f.input :allow_rebuys, :label => 'Allow Rebuys' %> 
      <%= f.select :status, ['Pending', 'Open', 'Trash'] %>
      <%= f.input :sanctioned %>
      <%= f.input :max_tracks %> 
    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
