<%= simple_form_for(@selected_site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :owner_id %>
    <%= f.input :initial_credits %>
      <%= f.input :daily_login_bonus %> 
    <%= f.input :credit_alias %>
    <%= f.input :bank_alias %>
    <%= f.input :bet_alias %>
    <%= f.input :track_alias %>
    <%= f.input :member_alias %>
    <%= f.input :facebook_key %>
    <%= f.input :facebook_secret %>
    <%= f.input :twitter_key %>
    <%= f.input :twitter_secret %>
    <%= f.input :domain %>
    <%= f.input :permalink, :label => 'Subdomain' %>
    <%= f.input :rebuy_credits %>
    <%= f.input :rebuy_charge, :label => 'Rebuy Charge In Cents' %>
    <%if user_is_admin? %>
      <div class='admin_box'>
      <legend> Root Admin </legend>
      <%= f.input :allow_rebuys, :label => 'Allow Rebuys' %> 
      <%= f.select :status, ['Pending', 'Open', 'Trash'] %>
      <%= f.input :sanctioned %>
      <%= f.select :level, ['White', 'Red', 'Green' %>
      <%= f.input :max_tracks %> 
      <%= f.input :allow_facebook %> 
      <%= f.input :allow_twitter %> 
      <%= f.input :allow_leagues %> 
      <%= f.input :stripeconnect %> 
      <%= f.input :allow_bank %> 
      <%= f.input :initial_bank %> 
      <%= f.input :live_push %> 
      <%= f.input :allow_stripe %> 
      </div>
    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
