<%= render 'admin/admin' %>
<h1>Listing sites</h1>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Domain</th>
    <th>Slug</th>
    <th>Status</th>
    <th>Sanctioned</th>

  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.name, edit_site_path(site) %></td>
    <td><%= site.description %></td>
    <td><%= site.owner.name %></td>
    <td><%= site.domain %></td>
    <td><%= site.slug %></td>
    <td><%= site.status %></td>
    <td><%= site.sanctioned %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
