<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @site.owner_id %>
</p>

<p>
  <b>Initial credits:</b>
  <%= @site.initial_credits %>
</p>

<p>
  <b>Facebook key:</b>
  <%= @site.facebook_key %>
</p>

<p>
  <b>Facebook secret:</b>
  <%= @site.facebook_secret %>
</p>

<p>
  <b>Twitter key:</b>
  <%= @site.twitter_key %>
</p>

<p>
  <b>Twitter secret:</b>
  <%= @site.twitter_secret %>
</p>

<p>
  <b>Domain:</b>
  <%= @site.domain %>
</p>

<p>
  <b>Slug:</b>
  <%= @site.slug %>
</p>

<p>
  <b>Status:</b>
  <%= @site.status %>
</p>

<p>
  <b>Sanctioned:</b>
  <%= @site.sanctioned %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
