<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @selected_site.name %>
</p>

<p>
  <b>Description:</b>
  <%= @selected_sitedescription %>
</p>

<p>
  <b>Owner:</b>
  <%= @selected_site.owner_id %>
</p>

<p>
  <b>Initial credits:</b>
  <%= @selected_site.initial_credits %>
</p>

<p>
  <b>Facebook key:</b>
  <%= @selected_site.facebook_key %>
</p>

<p>
  <b>Facebook secret:</b>
  <%= @selected_site.facebook_secret %>
</p>

<p>
  <b>Twitter key:</b>
  <%= @selected_site.twitter_key %>
</p>

<p>
  <b>Twitter secret:</b>
  <%= @selected_site.twitter_secret %>
</p>

<p>
  <b>Domain:</b>
  <%= @selected_site.domain %>
</p>

<p>
  <b>Slug:</b>
  <%= @selected_site.slug %>
</p>

<p>
  <b>Status:</b>
  <%= @selected_site.status %>
</p>

<p>
  <b>Sanctioned:</b>
  <%= @selected_site.sanctioned %>
</p>



