

<%unless current_user.blank? %>
  <div class='box2'>
     

     <strong><%= link_to 'Dashboard', myaccount_path, :class => 'btn btn-mini btn-info' %> </strong>  
    <% if session[:provider] == 'facebook' %>
     <%= image_tag('f_logo.png',:size => "32x32") %> 
    <%elsif session[:provider] == 'twitter' %>
      <%= image_tag('twitter.png',:size => "32x32") %> 
    <%end%>
  
   <strong><%= link_to " Logout-#{current_user.name}", logout_path, :class => 'btn btn-mini btn-info' %>       </strong> 
   
      <strong><%= link_to 'Invite Facebook Friends', '#', :id => :app_request, :class => 'btn btn-mini btn-info' %> 
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"  data-count="none" data-text="Come test your handicapping skills with me."	data-url="<%= home_url %>"  >Tweet</a>
    <% if current_user.has_role? :admin %></strong>
  
     <strong>  <%= link_to 'Admin', dashboard_admin_path, :class => 'btn btn-mini btn-warning' %>  </strong>       

    <%end%>
</div>
<br />

<script language="javascript" type="text/javascript">

 $('#app_request').click(function () {
    FB.ui({
     appId: '<%=FACEBOOK_APP_ID%>',
     method: 'apprequests',
      message: 'Hi, Test your Handicapping skills. Come compete with me.',
      data: 'Handicapping Game.'
    });
return false;
  });

</script>

<%else%>
     <strong><%= link_to 'Home', root_path, :class => 'btn btn-mini btn-info' %> </strong> 

      <strong>    <%= link_to 'Login with Facebook', '/auth/facebook/', :class => 'btn btn-mini btn-info' %></strong>
      <strong>    <%= link_to 'Login with Twitter', '/auth/twitter/', :class => 'btn btn-mini btn-info' %></strong>

      <strong> <%= link_to 'Registered Users Login', login_path , :class => 'btn btn-mini btn-info' %></strong>  
      <strong> <%= link_to 'Registered User Sign up', signup_path, :class => 'btn btn-mini btn-info' %> </strong>         

<%end%>
 



      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
