


<div>
     


     <strong><%= link_to 'My Leagues', myleagues_path, :class => 'btn btn-mini btn-info' %> </strong>        
     <strong><%= link_to 'My Tracks', mytracks_path, :class => 'btn btn-mini btn-info' %> </strong>  
     <strong><%= link_to 'My Achievements', myachievements_path, :class => 'btn btn-mini btn-info' %> </strong> 
      <strong><%= link_to 'Invite Friends', '#', :id => :app_request, :class => 'btn btn-mini btn-info' %> 
    <% if current_user.has_role? :admin %></strong>
  
     <strong>  <%= link_to 'Admin', users_path, :class => 'btn btn-mini btn-warning' %>  </strong>       

    <%end%>
</div>
<br />

<script language="javascript" type="text/javascript">

 $('#app_request').click(function () {
    FB.ui({
     appId: '<%=FACEBOOK_APP_ID%>',
     method: 'apprequests',
      message: 'Hi, Test your Handicapping skills. Come compete with me.',
      data: 'Handicapping Game.'
    });
return false;
  });

</script>
