


<div>
     


     <strong><%= link_to 'My Leagues', myleagues_path, :class => 'btn btn-mini btn-info' %> </strong>        
     <strong><%= link_to 'My Tracks', mytracks_path, :class => 'btn btn-mini btn-info' %> </strong>  
     <strong><%= link_to 'My Achievements', myachievements_path, :class => 'btn btn-mini btn-info' %> </strong>  
    <% if current_user.has_role? :admin %>
  
     <strong>  <%= link_to 'Admin', users_path, :class => 'btn btn-mini btn-warning' %>  </strong>       

    <%end%>
</div>
<br />
<%= link_to 'Send Request to your friends', '#', :id => :app_request %>
<script language="javascript" type="text/javascript">

 $('#app_request').click(function () {
    FB.ui({
     appId: '<%=FACEBOOK_APP_ID%>',
     method: 'apprequests',
      message: 'Hi This is my test app developed in RoR and integrated in FB',
      data: 'Stores important links of user'
    });
return false;
  });

</script>
